<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
    <li class="list-group-item"><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
    <form id="logout-form" method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
  {% endif %}

  <br>

  <li class="list-group-item"><a href="{% url 'task_manager:index' %}">Home</a></li>
  <li class="list-group-item"><a href="{% url 'task_manager:position-list' %}">All Positions</a></li>
  <li class="list-group-item"><a href="{% url 'task_manager:worker-list' %}">All Workers</a></li>
  <li class="list-group-item"><a href="{% url 'task_manager:tasktype-list' %}">All Types of tasks</a></li>
</ul>
