{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <h1>
      Worker List
      <a href="{% url 'task_manager:worker-create' %}" class="btn btn-primary link-to-page">
        Create
      </a>
    </h1>
  <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input type="submit" value="🔍" class="btn btn-secondary">
  </form>  
  <br>

    {% if worker_list %}
    <table class="table table-hover table-striped">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Position</th>
      </tr>
    {% for worker in worker_list %}
      <tr>
        <td>{{ worker.id }}</td>
        <td><a href="{{ worker.get_absolute_url }}">{{ worker.username }} {% if user == worker %} (Me){% endif %}</a></td>
        <td>{{ worker.first_name }}</td>
        <td>{{ worker.last_name }}</td>
        <td>{{ worker.position }}</td>
      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>There are no workers in the system.</p>
    {% endif %}
{% endblock %}
